<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>


  <appSettings>

	  <add key="server" value =".\DESKTOP-89KTCG1"/>
	  <!--aca cargo el nombre de mi servidor, colocarlo luego del .\  -->
	  <!--Aca veo la ventaja de crear una clase Conexion, cambiando sólo acá el nombre del servidor y el nombre de la BD ya me conecto, sino tengo que modificar todas las relaciones a la BD dentro de las demás clases-->


	  <add key="ddbb" value ="prg3"/>
	  <!--aca cargo el nombre de la base de datos a la cual me quiero conectar-->

  <!-- 
  <add key="server" value ="./SQLEXPRESS"/>
  <add key="server" value ="./SQLEXPRESS"/>
  <add key="server" value ="./SQLEXPRESS"/>
  -->

  </appSettings>
</configuration>